@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    box-sizing: border-box;
}


body {

    margin: 0;

    overflow: hidden;

    background: #87ceeb;

    font-family: "Press Start 2P", monospace;

    image-rendering: pixelated;

}



.hidden {
    display:none !important;
}



#mainMenu,
#passwordScreen {


    position:absolute;

    width:100%;

    height:100%;


    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;


    background:

    linear-gradient(
        #70cfff,
        #b8ecff
    );

}





h1 {


    font-size:70px;

    color:#55ff55;


    text-transform:uppercase;


    text-shadow:

    6px 6px #555,

    12px 12px #222;


    letter-spacing:2px;


}





h2 {


    font-size:25px;

    color:white;


    text-shadow:

    4px 4px #333;


}





button {


    font-family:inherit;


    background:#55aa33;


    color:white;


    border:

    6px solid #222;


    padding:

    20px 50px;


    font-size:25px;


    box-shadow:

    0 10px #333;


    cursor:pointer;


}



button:active {


    transform:translateY(8px);

    box-shadow:none;


}




input {


    font-family:inherit;


    background:#222;


    color:white;


    border:

    5px solid #555;


    padding:15px;


    font-size:20px;


}





p {


    color:white;


    font-size:18px;


    text-shadow:

    3px 3px #333;


}
#passwordScreen h2 {
    margin-bottom: 30px;
}


#passwordScreen input {
    margin-bottom: 15px;
}


#hint {
    margin-top: 25px;
    margin-bottom: 25px;
}


#passwordBtn {
    margin-top: 10px;
}



#gameUI {

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    pointer-events:none;

}



#diamondCounter {


    position:absolute;

    top:30px;

    left:30px;


    background:#222;


    color:white;


    border:5px solid #555;


    padding:15px;


    font-size:18px;


    font-family:"Press Start 2P", monospace;


    text-shadow:3px 3px #000;


}


#achievementBox {

    position:absolute;

    top:30px;

    right:30px;

}
