body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}


p {
    color: white;
    font-size: 40px;
    text-align: center;
}


#playBtn {

    display: block;

    margin: 20px auto;

    padding: 15px 50px;

    font-size: 25px;

    cursor: pointer;

}
